* {
  margin: 0;
  color:rgb(71, 71, 71);
}

.m5 { margin: 5px !important; }
.m10 { margin: 10px !important; }
.mt30 { margin-top: 30 !important; }

.red { color:red; }

::selection {
  background-color: rgb(219, 219, 219);
}

.pop{
  display: inline-block;
  margin-top: 5px;
  background-color: rgb(63, 221, 0);
  color:rgb(34, 34, 34);
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.article{
  text-align: center;
  margin: 20px !important;
}

.flexcol { display: flex; justify-content: center; align-items: center; flex-direction: column; }
.flexrow { display: flex; justify-content: center; align-items: center; flex-direction: row; }

.navbar { background-color: rgb(160, 160, 160); }

.navlink {transition:.3s; font-size: 18px; text-decoration: none; padding: 20px; font-weight: bold; color:rgb(68, 68, 68); }
.navlink:hover { transition:.3s; color: white; background-color: rgb(84, 84, 84); }

.dark-theme{ background-color: rgb(87, 87, 87); }
.dark-theme * {
  color :rgb(235, 235, 235);
}

.dark-theme * {
  color:rgb(0, 0, 0) !important;
}

.footer{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(160, 160, 160);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  color:rgb(47, 47, 47);
}

.toggler{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
  padding: 10px;
  font-size: 36px;
  cursor: pointer;
}